:root {
    /* Custom primary colors */
    --md-primary-fg-color:              #e2001aFF;
    --md-primary-fg-color--light:       #F41920FF;
    --md-primary-fg-color--dark:        #C80000FF;

    /* Custom accent colors */
    --md-accent-fg-color:               #FD4340FF; 
    --md-accent-fg-color--transparent: #FD43401A;
  }